<div class="my-3">
    <h2>CombineLatest & WithLatestFrom </h2>
    <div class="row mt-4">
        <div class="col-md-3 pr-4">
            <strong>Names</strong>
            <select class="form-control" #name>
                <option *ngFor = "let item of nameSource" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <div class="col-md-9 ml-auto">
            <strong>CombineLatest</strong>
            <div class="wrapper" id="elContainer">
            </div>
        </div>
        <div class="col-md-3 pr-4">
            <strong>Colors</strong>
            <select class="form-control" #color>
                <option *ngFor = "let item of colorSource" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <div class="col-md-9 ml-auto">
            <strong>WithLatestFrom</strong>
            <div class="wrapper" id="elContainer1">
            </div>
        </div>
    </div>
</div>