<div class="my-3">
    <h2>Form Event</h2><br/>
    <div>
        <p>
            fromEvent() method<br/> 
            Adds an event listener to a DOM elemen<br/>
            Click event using Rxjs method “fromEvent, it will take two arguments<br/>
            1-Source of the click<br/>
            2- event you are subscribing
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add List</div>
                <div class="card-body">
                    <button class="btn btn-primary" #addBtn>Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List</div>
                <div class="card-body">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List</div>
                <div class="card-body">
                    <ul id="elContainer1"></ul>
                </div>
            </div>
        </div>
    </div>
</div>