<div class="row">
    <div class="col-lg-2">
        <ul class="list">
            <li>
                <a routerLink="event-form">Form Event</a>
            </li>
            <li>
                <a routerLink="event-form">Form Event</a>
            </li>
            <li>
                <a routerLink="event-form">Form Event</a>
            </li>
            <li>
                <a routerLink="event-form">Form Event</a>
            </li>
            <li>
                <a routerLink="event-form">Form Event</a>
            </li>
        </ul>
    </div>
</div>
