<div class="my-3">
    <h2>Take TakeLast and TakeUntil</h2>
    <p class="bg-light py-2 px-3 border rounded"><strong>Random Name : </strong>
        'Anup','Shekhar','Mark','John','Alex','Elon','Musk','Elon Musk','Iron','Man'
    </p>
    <div class="row mt-4">
        <div class="col-md-4">
            <strong>Ex - 1 | Take(5)</strong>
            <ul class="mt-2" id="elContainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 2 | TakeLast(5)</strong>
            <ul class="mt-2" id="elContainer1"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 3 | TakeUntil(condition)</strong>
            <ul class="mt-2" id="elContainer2"></ul>
        </div>
    </div>
</div>