<div class="my-3">
    <h2>Of and From</h2>
    <div class="mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2>1. Of Operator</h2>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Data : </strong>
                    of('Anup','Shekhar','Sharma')
                </p>
                <ul class="mt-2" id="elContainer">
                </ul>
            </div>
            <div class="col-md-6">
                <h2>1. Of</h2>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Data : </strong>
                    of(&#123;name : 'Anup', father : 'Shekhar', brother :'Sharma'&#125;)
                </p>
                <ul class="mt-2">
                    <li><strong>Name : </strong> {{results.name}}</li>
                    <li><strong>Father : </strong>{{results.father}}</li>
                    <li><strong>Brother : </strong>{{results.brother}}</li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <h2>1. From</h2>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Data : </strong>
                    From(['Mark','Elon','Musk'])
                </p>
                <ul class="mt-2" id="elContainer1"></ul>
            </div>            
            <div class="col-md-4">
                <h2>2. Promise</h2>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Data : </strong>
                    Promise to Observable
                </p>
                <ul class="mt-2" id="elContainer2"></ul>
            </div>
            <div class="col-md-4">
                <h2>3. String</h2>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Data : </strong>
                    String to Observable
                </p>
                <ul class="mt-2" id="elContainer3"></ul>
            </div>
        </div>
    </div>
</div>
