<div class="row justify-content-center">
    <div class="col-lg-12 my-4">
        <h4 class="text-center">Below are the important packages:</h4>
        <h4 class="text-center">Rxjs ALL</h4>
        <div class="text-center mt-3">
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary" [routerLink]="['/promoise']">
                        Promoise
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/formevent']">
                        Form Event
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-success" [routerLink]="['/interval-timer']">
                        Interval Timer
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-danger" [routerLink]="['/of-from']">
                        Of - From Rxjs Operator
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-warning" [routerLink]="['/to-Array']">
                        To Array
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-info" [routerLink]="['/custom-observable']">
                        Custom Observable
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-light" [routerLink]="['/map']">
                        Map
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-dark" [routerLink]="['/pluck']">
                        Pluck
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-link" [routerLink]="['/filter']">
                        Filter
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-primary" [routerLink]="['/tap']">
                        Tap/do
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/take']">
                        Take
                    </button>
                </div>
                <div class="col-lg-2 mt-2">
                    <button type="button" class="btn btn-success" [routerLink]="['/retry']">
                        Retry
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-danger" type="button" [routerLink]="['/debounceTime']">
                        DebounceTime 
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-warning" type="button" [routerLink]="['/subject']">
                        Subject
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-info" type="button" [routerLink]="['/replay-subject']">
                        Replay Subject
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-light" type="button" [routerLink]="['/async-subject']">
                        Async Subject
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-dark" type="button" [routerLink]="['/concat']">
                        Concat
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-link" type="button" [routerLink]="['/merge']">
                        Merge
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-primary" type="button" [routerLink]="['/mergeMap']">
                        Merge Map
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-secondary" type="button" [routerLink]="['/concat-map']">
                        Concat Map
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-success" type="button" [routerLink]="['/concat-map-mobile-notification']">
                        Concat Map Mobile Notification
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-danger" type="button" [routerLink]="['/switch-map']">
                        Switch Map
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-warning" type="button" [routerLink]="['/switch-map-search']">
                        Switch Map Search
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-info" type="button" [routerLink]="['/exhaust-map']">
                        Exhaust Map
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-light" type="button" [routerLink]="['/share-replay']">
                        Share Replay
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-dark" type="button" [routerLink]="['/combineLatest-withLatestFrom']">
                        CombineLatest WithLatestFrom
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-link" type="button" [routerLink]="['/zip-forkJoin']">
                        Zip & ForkJoin
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button class="btn btn-primary" type="button" [routerLink]="['/catchError-throwError']">
                        CatchError & ThrowError
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>