<div class="my-3">
    <h2>Subject & Behavior Subject</h2>
    <div class="row mt-4">
        <h3>
            Username is <span class="text-primary">{{userName}}</span>
        </h3>
        <div class="row mt-2">
            <div class="col-md-4">
                <app-subject-example1></app-subject-example1>
            </div>
            <div class="col-md-4">
                <app-subject-example2></app-subject-example2>
            </div>
            <div class="col-md-4">
                <app-subject-example3></app-subject-example3>
            </div>
        </div>
    </div>
</div>