<div class="my-3">
    <h2>Promise</h2>
    <h3>Description</h3>
    <p>
        A Promise is an object that holds the future value of an async operation.
        For example, if we are requesting some data from a server, the promise 
        promises us to get that data which we can use in future.
    </p>
    <h3>States of a Promise</h3>
    <p>
        A Promise in JavaScript just like a promise in real-world has 3 states.
        It can be 1) unresolved (pending), 2) resolved (fulfilled), or 3) rejected.
        For example:
    </p>
    <div>
        <img src="../../../assets/images/1.PNG">
    </div>
    <ul>
        <li>
            <strong>Unresolved or Pending</strong>
        </li>
        <p>
            A Promise is pending if the result is not ready. That is, it’s waiting
            for something to finish (for example, an async operation).
        </p>
        <li>
            <strong>Resolved or Fulfilled</strong>
        </li>
        <p>
            A Promise is resolved if the result is available. That is, something
            finished (for example, an async operation) and all went well.
        </p>
        <li>
            <strong>Rejected</strong>
        </li>
        <p>A Promise is rejected if an error happened.</p>
    </ul>

    <strong>The Result is --> {{promiseVal}}</strong>
</div>