ul.data-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.data-list li {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}