<div class="my-3">
    <h2>Replay Subject</h2>
    <div class="row mt-4">
        <div class="col">
            <h3>{{methodInterval ? 'Interval Started' : 'Add Data'}}</h3>
        </div>
        <div class="col text-right">
            <button class="btn btn-warning" (click)="toggleMethod()">Toggle Method</button>
        </div>
    </div>
    <div class="row mt-4 justify-content-center" *ngIf = "methodInterval">
        <div class="col-md-4">
            <input type="text" class="form-control" #data>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success" (click)="addData(data.value)">Add Data</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <strong>User - 1</strong>
            <ul class="data-list mt-1" *ngFor = " let data of userList">
                <li>{{data}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong>User - 2</strong>
            <ul class="data-list mt-4 mb-4" *ngFor = " let data of userList1">
                <li>{{data}}</li>
            </ul>
            <button class="btn btn-success mt-4" [ngClass]="subscribeMode? 'btn-danger' : 'btn-success'" (click)="userSubscribe()">
                {{subscribeMode? 'Unsubscribe' : 'Subscribe'}}
            </button>
        </div>
        <div class="col-md-4">
            <strong>User - 3</strong>
            <ul class="data-list mt-4 mb-4" *ngFor = " let data of userList2">
                <li>{{data}}</li>
            </ul>
            <button class="btn btn-success" [ngClass]="subscribeMode1? 'btn-danger' : 'btn-success'" (click)="user1Subscribe()">
                {{subscribeMode1? 'Unsubscribe' : 'Subscribe'}}
            </button>
        </div>
    </div>
</div>