<div class="my-3">
    <h2>Interval Timer</h2>
    <p>
        While interval emits the first event immediately and then continuously
        with the same interval, timer starts after a given time to emit events
        every x time. For our two updates per second we can start by using
        timer(0, 500). This will start firing events right off the bat and after
        that twice a second.
    </p>
    <div>
        <p>
            Timer:- takes two arguments<br/>
            1- First take initial delay before start<br/>
            2-Second time interval
        </p>
    </div>
    <p>{{display}}</p>
    <div class="row">
        <H3>Interval</H3>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User</div>
                <div class="card-body">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 1</div>
                <div class="card-body">
                    <ul id="elContainer1"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 2</div>
                <div class="card-body">
                    <ul id="elContainer2"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <H3>Timer</H3>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User</div>
                <div class="card-body">
                    <ul id="elContainer3"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 1</div>
                <div class="card-body">
                    <ul id="elContainer4"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 2</div>
                <div class="card-body">
                    <ul id="elContainer5"></ul>
                </div>
            </div>
        </div>
    </div>
</div>