<div class="my-3">
    <h2>DebounceTime & DistinctUntilChanged</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <strong>Ex - 1 
                <span class="text-primary">DebounceTime</span>
            </strong>
            <div class="form-group row mt-3">
                <label class="col-sm-2 col-form-label col-form-label-lg">Search....</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" placeholder="Search...." #myInput>
                </div>
            </div>
            <span *ngIf = "requestedData != null" class="mt-3">
                Requested Data : <strong class="text-success">{{requestedData}}</strong>
            </span>
        </div>
        <div class="col-md-6">
            <strong>Ex - 2 
                <span class="text-warning">DistinctUntilChanged</span>
            </strong>
            <div class="form-group row mt-3">
                <label class="col-sm-2 col-form-label col-form-label-lg">Search....</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" placeholder="Search...." #myInput1>
                </div>
            </div>
            <span *ngIf = "requestedData1 != null" class="mt-3">
                Requested Data : <strong class="text-success">{{requestedData1}}</strong>
            </span>
        </div>
    </div>
</div>